/* Left Nav Pills */
ul.nav-pills {
          top: 120px;
          position: fixed;
      }

/* Section Tables */
div.col-sm-9 div {
          height: 250px;
          font-size: 28px;
      }
      #section1 {color: #fff; background-color: #1E88E5;}
      #section2 {color: #fff; background-color: #673ab7;}
      #section3 {color: #fff; background-color: #ff9800;}
      #section41 {color: #fff; background-color: #00bcd4;}
      #section42 {color: #fff; background-color: #009688;}
      #section5 {color: #fff; background-color: #009688;}
      #section6 {color: #fff; background-color: #009688;}
      
@media screen and (max-width: 810px) {
        #section1, #section2, #section3, #section41, #section42, #section5, #section6  {
            margin-left: 150px;
        }
      }

.global-header {
    width: 100%;
    float: left;
    min-height: 2cm;
    background-color: red;
}

.main-content {
    width: 100%;
    float: left;
    height: 50cm;
    background-color: yellow;
}

.global-footer {
    width: 100%;
    float: left;
    min-height: 5cm;
    background-color: lightblue;
}

@media (min-width: 30em) {

    .global-header {
        position: fixed;
        top: 0;
        left: 0;
    }

    .main-content {
        height: 100%;
        width: 100%;
        margin-top: 2cm; /* to offset header */
        margin-left: 2cm; 
    }

    .global-footer {
        position: fixed;
        bottom: 0;
        left: 0;
    }

} /* ================== */
