/* =================== */
/* = Global Elements = */
/* =================== */
 
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

abbr {
    color: blue;
    text-decoration: underline;
}

/* ================== */
/* = Global Classes = */
/* ================== */

.global-header {
    width: 100%;
    float: left;
    min-height: 2cm;
    background-color: maroon;
    position: fixed;
    top: 0;
    left: 0;

}

.main-content {
    height: 100%;
    width: 100%;
    float: left;
    min-height: 5cm;
    background-color: yellow;
    margin-top: 2cm; /* to offset header */
    margin-left: 2cm; 
}

.section1 {
    width: 100%;
    float: left;
    height: 5cm;
    background-color: orange;
}

.global-footer {
    width: 100%;
    float: left;
    min-height: 5cm;
    background-color: lightblue;
    bottom: 0;
    left: 0;
}

.section-title {
}

 /* ==================== */
 /* = My Info Classes  = */
 /* ==================== */

.my-name {
        color: white;
}

.my-current-role {
}

.my-location {
}

.my-email {
}

.my-phone {
}

 /* ================== */

/* Left Nav Pills 
ul.nav-pills {
          top: 120px;
          position: fixed;
      }

/* Section Tables 
div.col-sm-9 div {
          height: 250px;
          font-size: 28px;
      }
      #section1 {color: #fff; background-color: #1E88E5;}
      #section2 {color: #fff; background-color: #673ab7;}
      #section3 {color: #fff; background-color: #ff9800;}
      #section41 {color: #fff; background-color: #00bcd4;}
      #section42 {color: #fff; background-color: #009688;}
      #section5 {color: #fff; background-color: #009688;}
      #section6 {color: #fff; background-color: #009688;}
      
@media screen and (max-width: 810px) {
        #section1, #section2, #section3, #section41, #section42, #section5, #section6  {
            margin-left: 150px;
        }
      }  */
